<?xml version="1.0"?>

<!--  
  Project Name: Rusty with ur5
  Created on:   3.8.22
  Author: Siddarth
  Maintainer: ROS team
  
-->
<robot name="rusry" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:include filename="$(find rusty_description)/urdf/rusty.xacro" />
  <xacro:include filename="$(find ur_description)/urdf/common.gazebo.xacro" />
  <xacro:include filename="$(find ur_description)/urdf/e_ur5.urdf.xacro" />

  <xacro:ur5_robot prefix="" joint_limited="false"/>

  <joint name="arm_joint" type="fixed">
    <parent link="rusty_base" />
    <child link = "base_link" />
    <origin xyz="0.06 0 0.18" rpy="0.0 0.0 0" />  <!--576 height from ground-->
  </joint>
  
</robot>