<?xml version="1.0" ?>

<launch>

	<!-- Map Publishing Node -->
    <node name="cartographer_occupancy_grid_node" pkg="cartographer_ros" type="cartographer_occupancy_grid_node" args="-resolution 0.01" />

  <node pkg="tf" type="static_transform_publisher" name="base_to_laser_broadcaster" args="0 0 0 0 0 0 base_link laser 100"/>
  
    <!--RVIZ-->
  <arg default="true" name="gui"/>
  <arg default="$(find rover)/launch/urdf.rviz" name="rvizconfig"/>
  <arg default="$(find rusty_description)/urdf/rusty.xacro" name="model"/>
  <param command="$(find xacro)/xacro $(arg model)" name="robot_description"/>
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher"/>
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>
  <node args="-d $(arg rvizconfig)" name="rviz" pkg="rviz" required="true" type="rviz"/>
  <include file="$(find rusty)/launch/server_bringup.launch"/>
</launch>