<launch>
    <!-- Arguments -->
    <arg name="model" default="$(find rusty_description)/urdf/rusty.xacro"/>
    <arg name="configuration_basename" default="/scan"/>
    <arg name="set_base_frame" default="base_link"/>
    <arg name="set_odom_frame" default="odom"/>
    <arg name="set_map_frame"  default="map"/>

    <!--static transform-->
    

    <!-- slam_karto -->
    <node pkg="slam_karto" type="slam_karto" name="slam_karto" output="screen">
        <rosparam command="load" file="$(find rusty)/config/karto_slam.yaml" />
    </node>
    
    <!--RVIZ-->
  <arg default="true" name="gui"/>
  <arg default="$(find rover_description)/launch/urdf.rviz" name="rvizconfig"/>
  <param command="$(find xacro)/xacro $(arg model)" name="robot_description"/>
  <param name="use_gui" value="$(arg gui)"/>
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher"/>
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>
  <node args="-d $(arg rvizconfig)" name="rviz" pkg="rviz" required="true" type="rviz"/>
</launch>